html,
body {
  font-family: "Cormorant Garamond", serif;
  margin: 0;
  padding: 0;
  background-color: rgba(29, 47, 48, 1);
  color: white;
}
.wrapper {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}
.padding-global {
  padding: 32px;
}
.padding-left {
  padding-left: 32px;
  padding-right: 32px;
}
a {
  text-decoration: none;
}
