body {
  background-color: #131517;
}
.container {
  display: flex;
  justify-content: space-between;
}
.left-side {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title-password {
  font-size: 36px;
  font-weight: 600;
  text-align: center;
}
.inputs-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.copyright-password {
  color: grey;
  padding-top: 170px;
  text-align: center;
}
a {
  text-decoration: none;
  color: white;
  font-weight: 600;
}
input {
  background-color: #131517;
  border: 1px solid grey;
  height: 40px;
  border-radius: 5px;
  width: 100%;
}
.copyright-password {
  color: grey;
  padding-top: 300px;
  display: flex;
  justify-content: center;
}
.image-area {
  padding-right: 150px;
}
@media (max-width: 1000px) {
  .image-area {
    display: none;
  }
}
